[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
cryptography = "*"
certifi = "*"
charset-normalizer = "*"
django-admin-honeypot = "*"
django-admin-thumbnails = "*"
django-filter = "*"
django-session-timeout = "*"
django-environ = "*"
psycopg2 = "*"
waitress = "*"
boto3 = "*"
django-storages = "*"
djangorestframework = "*"
idna = "*"
pytz = "*"
requests = "*"
six = "*"
sqlparse = "*"
urllib3 = "*"
django-extensions = "*"
whitenoise = "*"
pytest = "*"
factory-boy = "*"
Django = "*"
Pillow = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.9"
