asgiref

cryptography

certifi

charset-normalizer

django

django-admin-thumbnails

django-filter

django-session-timeout

django-environ

psycopg2

waitress

boto3

django-storages

djangorestframework

idna

pillow

pytz

requests

six

sqlparse

urllib3

django-extensions

whitenoise

packaging

pyyaml

pillow

pytest

factory-boy